<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <script src="../script.js" defer></script>
     <link rel="stylesheet" href="../css/style.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    
</head>

<body>
    
    <div id="caixa">
        <div id="caixa-superior">
            <div id="visor"></div>
        </div>
        
        <br><br>
        <div id="button">
            <input type="button" value="0">
            <input type="button" value="1" >
            <input type="button" value="2" >
            <input type="button" value="3" >
            <input type="button" value="4" >
            <input type="button" value="5" >
            <input type="button" value="6" >
            <input type="button" value="7" >
            <input type="button" value="8" >
            <input type="button" value="9" >
            <input type="button" value="+" >
            <input type="button" value="-" >
            <input type="button" value="x" >
            <input class="fa-solid fa-divide" type="button" value="/" >
            <input type="button" value="<x">
            <input type="button" value="=">
            <input type="button" value="C">
            <br><br>
        </div>
    </div>    
</body>

</html>